.obsidian/workspace.json
.jj/
.idea
.obsidian
*Untitled*
notes/NATS/practice/chunkingMess/1MB.html
notes/NATS/practice/chunkingMess/8Mb.html
notes/NATS/practice/chunkingMess/8mb.html
notes/Conctainers/practical/containerFromScratch/containersFromScratch
notes/NATS/practice/nats-auth/authZ/examples/mtls/kubectl
notes/NATS/practice/nats-auth/authZ/examples/mtls/kubectl.sha256
notes/NATS/practice/nats-auth/authZ/examples/mtls/key.pem
